body {
    background-color: #EFE4E0;
    margin: 0;
    padding: 0;
    font-family: 'Inika', serif;
}

h1, h3 {
    color: #423C46;
}

.home-header {
    position: relative;
    top: 0;
    width: 100vw;
}

.header-content {
    padding-top: 10vh;
    width: 50vw;
    height: 100vh;
    z-index: 100;
}

.side-image {
    height: 100vh;
    background-image: url('../media/home-side.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    margin-left: 110px;
    overflow: hidden;
}

.text-indie-flower {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 84px;
    color: #9C705D;
}

.services-bg {
    aspect-ratio: 1/0.75;
    background-image: url('../media/services-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.explore-btn {
    background-color: #423C46;
    color: #fff;
    height: 60px;
}

.explore-btn:hover {
    background-color: #202020;
    color: #fff;
}

.bg-stay-in {
    height: 15vh;
    background-image: url('../media/stay-in-img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-overlay-si {
    width: 100%;
    height: 100%;
    background-color: rgba(156, 112, 93, 0.5);
}

.bg-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(156, 112, 93, 0.75);
}

.btn-book-now {
    color: #423C46;
    background: none;
    border: 1px solid #423C46;
    height: 5vh;
}

.btn-book-now:hover {
    color: #fff;
    background-color: #423C46;
    border: 1px solid #423C46;
    height: 5vh;
}

.our-services-sect {
    width: 99vw;
}