.booking-border{
    border: 1px solid #423C46;
}

.booking-img {
    aspect-ratio: 1/1;
    background-image: url('../../media/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-theme-dark {
    background-color: #423C46;
    color: #fff;
}

.btn-theme-dark:hover {
    background-color: #202020;
    color: #fff;
}

.success-modal {
    width: 60vw;;
    height: 40vh;
    top: 50vw;
    left: 50vw;
}

.btn-close-modal {
    color: #fff;
    background: #423C46;
}

.btn-close-modal:hover {
    color: #fff;
    background: #202020;
}